<!DOCTYPE html>
<html>
	<head>
		<title>Roliga historier</title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/sweetalert.css">
	</head>
	<body>

		<%- include layouts/header.ejs %>

		<button class="back-btn" onclick="cancelAdd();"><-</button>
		<div class="data-msg">
		  <ul class="error-list"></ul>
		</div>
		<div class="input-container">
			<form id="add-form">

				<div class="label-add">Titel</div>
				<div class="input-div">
					<input class="input-tag" type="text" name="title" placeholder="Titel..." required>
				</div>
				
				<div class="label-add">Kategori</div>
				<div class="input-div">
					<select class="input-tag" name="categoryid">
						<option value="">Välj kategori</option>
						<% if (data.length) {
							for (var i = 0 ; i < data.length ; i++ ) { %>
								<option value="<%=data[i].CategoryID%>"><%=data[i].CategoryName%></option>
							<% }
						}
						else { %>
							<p>Hittades inga kategorier!</p>
						<% } %>
					</select>
				</div>
				
				<div class="label-add">Historia</div>
				<div class="input-div">
					<textarea class="input-tag-text" name="story" placeholder="Historia..." required></textarea>
				</div>
				
				<div class="button-div">
					<button id="save-btn" onclick="postStory()">Spara</button>
				</div>
				
			</form>
		</div>

		<footer class="footer-bottom">
			<div class="page-footer">
				<h1>Taco-hej!</h1>
			</div>
		</footer>

		<script src="js/jquery.min.js"></script>
		<script src="js/sweetalert.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>